<ion-header>
  <ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Add announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label-placement="floating" label="Title" type="text" [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="floating" label="Message" type="text" [(ngModel)]="message"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox (ionChange)="messageToAllUsers()" name="to-all">To all users?</ion-checkbox>
  </ion-item>
  <ng-select (change)="chosenClubs()" [items]="clubs$ | async" [(ngModel)]="selectedClubs" bindLabel="name" placeholder="Select a club" *ngIf="!toAll" [multiple]="true"></ng-select>
  <ion-item *ngIf="!toAll">
    <ion-checkbox class="user" [value]="user.uuid" (ionChange)="chosenUsers()" *ngFor="let user of clubsUsers">{{user.uuid}}</ion-checkbox>
  </ion-item>
  <ion-button (click)="addAnnouncement()">Add</ion-button>
</ion-content>
