<ion-header>
  <ion-buttons>
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Add announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label-placement="floating" label="Title" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label-placement="floating" label="Message" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox (ionChange)="messageToAllUsers()" name="to-all">To all users?</ion-checkbox>
  </ion-item>
  <ng-select (change)="test()" [items]="clubs$ | async" [(ngModel)]="selectedClubs" bindLabel="name" placeholder="Select a club" *ngIf="!toAll && clubs$.getValue().length > 1" [multiple]="true"></ng-select>
</ion-content>
