<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="back()" color="dark" fill="none">Back</ion-button>
    </ion-buttons>
    <ion-title>{{activeGroup$.getValue().name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>Name: {{activeGroup$.getValue().name}}</ion-header>
  <ion-header>Desc: {{activeGroup$.getValue().description}}</ion-header>
  <ion-text>Users amount: {{activeGroup$.getValue().participants.length}}</ion-text>
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Users</ion-card-subtitle>
      <ion-button (click)="addUsers()"  size="full">Add users to group <ion-icon name="add-outline"></ion-icon></ion-button>
      <ul>
        <li *ngFor="let user of groupUsers$ | async">{{user.name}} {{user.surname}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Titles</ion-card-content>
    <ion-item>
      <ion-input #title label-placement="floating" label="Add title..."></ion-input>
      <ion-button (click)="addTitle(title)">Add</ion-button>
    </ion-item>
    <ul>
      <li *ngFor="let title of titles$ | async">{{title.content}}</li>
    </ul>
  </ion-card>
<!--  <ion-card>-->
<!--    <ion-card-content>-->
<!--      <ion-card-subtitle>Titles</ion-card-subtitle>-->
<!--      <ol>-->
<!--        <li *ngFor="let title of titles">{{title.content}}</li>-->
<!--      </ol>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
<!--  <ion-item>-->
<!--    <ion-radio name="default-title" *ngFor="let title of titles">{{title}}</ion-radio>-->
<!--  </ion-item>-->
</ion-content>
