<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="back()" color="dark" fill="none">Back</ion-button>
    </ion-buttons>
    <ion-title>{{group$.getValue().name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>Name: {{group$.getValue().name}}</ion-header>
  <ion-header>Desc: {{group$.getValue().description}}</ion-header>
  <ion-text>Users amount: {{group$.getValue().participants.length+1}}</ion-text>
  <ion-card>
    <ion-card-content>
      <ion-button (click)="editGroup()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-card-header>
        <ion-text>Users</ion-text>
        <ion-button (click)="addUsers()" color="dark"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-card-header>
      <app-manage-user-item *ngFor="let user of limitedGroupUsers$ | async" [user]="user" [level]="'group'" [canManage]="false"></app-manage-user-item>
      <ion-button (click)="seeAllGroupUsersModal()">See all</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
