<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="back()" color="dark" fill="none">Back</ion-button>
    </ion-buttons>
    <ion-title>Grupa: {{group$.getValue().name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>Name: {{group$.getValue().name}}</ion-header>
  <ion-header>Desc: {{group$.getValue().description}}</ion-header>
  <ion-text>Users amount: {{group$.getValue().participants.length+1}}</ion-text>
  <ion-card>
    <ion-card-content>
      <ion-button (click)="groupSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-card-header>
        <ion-text>Users</ion-text>
        <ion-button id="open-modal" expand="block" color="dark"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-card-header>
      <app-manage-user-item *ngFor="let user of limitedGroupUsers$ | async" [clubId]="clubId" [groupId]="groupId" [user]="user" [level]="'group'" [canManage]="false"></app-manage-user-item>
      <ion-button (click)="seeAllGroupUsersModal()">See all</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content>
        <ion-item>
          <ion-searchbar style="padding: 0 0 0 12px" placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" (input)="searchUser($event)"></ion-searchbar>
          <ion-button slot="end" style="height: 100%; aspect-ratio: 1 / 1; padding: 12px" (click)="addToGroup()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let user of searchedUsers$ | async">
            <ion-avatar slot="start" [ngSwitch]="checkImageUrl(formatImageUrl(user$.getValue().profileImage))">
              <ion-img *ngSwitchCase="true" [src]="formatImageUrl(user$.getValue().profileImage)"></ion-img>
              <ion-icon *ngSwitchDefault name="person-outline"></ion-icon>
            </ion-avatar>
            <ion-checkbox labelPlacement="start" (ionChange)="handleCheckedUsers($event, user.uuid)" fill="none" [checked]="checkedUsers.has(formatUuid(user))">
              {{user.name}} {{user.surname}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
