<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="dark" fill="none" (click)="back()">Back</ion-button>
    </ion-buttons>
    <ion-title>Edit club info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ng-container *ngIf="field === 'name'">
        <ion-item>
          <ion-input label="Edit name" labelPlacement="floating" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="field === 'description'">
        <ion-item>
          <ion-input label="Edit description" labelPlacement="floating" [(ngModel)]="description"></ion-input>
        </ion-item>
      </ng-container>

      <ion-button color="dark" size="full" (click)="editData()">Save</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
