<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-text>{{user$.getValue().name}} {{user$.getValue().surname}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Edit Personal Data</ion-card-subtitle>
      <ion-item (click)="editPersonalInfo('name')">
        <ion-input label="Name" labelPlacement="floating" [value]="user$.getValue().name"></ion-input>
      </ion-item>
      <ion-item (click)="editPersonalInfo('surname')">
        <ion-input label="Surname" labelPlacement="floating" [value]="user$.getValue().surname"></ion-input>
      </ion-item>
      <ion-item (click)="editPersonalInfo('email')">
        <ion-input label="Email" labelPlacement="floating" [value]="user$.getValue().email"></ion-input>
      </ion-item>
      <ion-item (click)="editPersonalInfo('password')">
        <ion-input type="password" label="Password" labelPlacement="floating" value="*********"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Preferences</ion-card-subtitle>
      <ion-item>
        <ion-checkbox  [checked]="preferences$.getValue().announcementsNotifications" class="preference-checkbox" name="announcementsNotifications" [(ngModel)]="preferences.announcementsNotifications" (ionChange)="changeUserPreferences()">Announcements notifications</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox  [checked]="preferences$.getValue().conversationsNotifications" class="preference-checkbox" name="conversationsNotifications" [(ngModel)]="preferences.conversationsNotifications" (ionChange)="changeUserPreferences()">Messenger notifications</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox  [checked]="preferences$.getValue().lessonsNotifications" class="preference-checkbox" name="lessonsNotifications" [(ngModel)]="preferences.lessonsNotifications" (ionChange)="changeUserPreferences()">Calendar Notifications</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [checked]="preferences$.getValue().darkMode" class="preference-checkbox" name="darkMode" [(ngModel)]="preferences.darkMode" (ionChange)="changeUserPreferences()">Dark mode</ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Log out</ion-card-subtitle>
      <ion-button (click)="logOut()" color="danger">See you soon</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

