<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-text>{{user$.getValue().name}} {{user$.getValue().surname}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Edit Personal Data</ion-card-subtitle>
      <ion-item (click)="editPersonalInfo('name')">
        <ion-input label="Name" labelPlacement="floating" [value]="user$.getValue().name"></ion-input>
      </ion-item>
      <ion-item (click)="editPersonalInfo('surname')">
        <ion-input label="Surname" labelPlacement="floating" [value]="user$.getValue().surname"></ion-input>
      </ion-item>
      <ion-item (click)="editPersonalInfo('email')">
        <ion-input label="Email" labelPlacement="floating" [value]="user$.getValue().email"></ion-input>
      </ion-item>
      <ion-item (click)="editPersonalInfo('password')">
        <ion-input type="password" label="Password" labelPlacement="floating" value="*********"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Preferences</ion-card-subtitle>
      <ion-item>
        <ion-checkbox (ionChange)="changeUserPreferences()" [(ngModel)]="user$.getValue().preferences.announcementsNotifications" [checked]="user$.getValue().preferences.announcementsNotifications">Announcements notifications</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="changeUserPreferences()" [(ngModel)]="user$.getValue().preferences.conversationsNotifications" [checked]="user$.getValue().preferences.conversationsNotifications">Messenger notifications</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="changeUserPreferences()" [(ngModel)]="user$.getValue().preferences.lessonsNotifications" [checked]="user$.getValue().preferences.lessonsNotifications">Calendar notifications</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="changeUserPreferences()" [(ngModel)]="user$.getValue().preferences.darkMode" [checked]="user$.getValue().preferences.darkMode">Dark mode</ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Log out</ion-card-subtitle>
      <ion-button (click)="logOut()" color="danger">See you soon</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

