<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="dark" fill="none" (click)="cancel()">Back</ion-button>
    </ion-buttons>
    <ion-title>Edit personal info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ng-container *ngIf="field === 'name' || field === 'surname' || field === 'email'">
        <ion-item>
          <ion-input label="Edit name" labelPlacement="floating" [value]="user$.getValue().name" [(ngModel)]="user$.getValue().name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Edit surname" labelPlacement="floating" [value]="user$.getValue().surname" [(ngModel)]="user$.getValue().surname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Edit email" labelPlacement="floating" [value]="user$.getValue().email" [(ngModel)]="user$.getValue().email"></ion-input>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="field==='password'">
        <ion-item>
          <ion-input type="password" label="Input old password" labelPlacement="floating" placeholder="**********" [(ngModel)]="user$.getValue().password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Input new password" labelPlacement="floating" placeholder="**********" [(ngModel)]="userData.newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Confirm new password" labelPlacement="floating" placeholder="**********" [(ngModel)]="userData.confirmPassword"></ion-input>
        </ion-item>
      </ng-container>

      <ion-button color="dark" size="full" (click)="editData()">Save</ion-button>


    </ion-card-content>
  </ion-card>
</ion-content>
