<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="back()">Back</ion-button>
    </ion-buttons>
    <ion-title>{{activeClub$.getValue().name.slice(0,1).toUpperCase() + activeClub$.getValue().name.slice(1).toLowerCase()}}'s users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let user of activeClub$.getValue().users">
        <ion-label>{{getUser(user.uuid).name}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
