<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      Calendar
    </ion-tab-button>
    <ion-tab-button tab="payments">
      <ion-icon name="card-outline"></ion-icon>
      Payments
    </ion-tab-button>
    <ion-tab-button tab="messenger">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      Chat
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
