<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="back()" color="dark" fill="none">Back</ion-button>
    </ion-buttons>
    <ion-title>Klub: {{club$.getValue().name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-button (click)="clubSettings()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      <ion-icon style="font-size: 50px; margin-left: 110px; margin-top: 0px; margin-bottom: 20px; border: 1px solid black; border-radius: 50%; padding: 20px" name="person-outline"></ion-icon>

      <ion-card-title>{{club$.getValue().name}}</ion-card-title>

      <ion-card-subtitle>{{club$.getValue().description}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button (click)="showClubUsers()" size="full" color="light">
        Users
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
f
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle><ion-text>Your groups:</ion-text></ion-card-subtitle>
      <ion-button id="create-group" slot="end" size="full" fill="none" color="dark">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>

      <ion-list style="margin-top: 10px">
        <ng-container *ngIf="club$.getValue().groups">
          <ion-item *ngFor="let group of club$.getValue().groups">
            <ion-label (click)="showGroupDetails(group.id)">{{group.name}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Newses section</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-alert trigger="create-group" (didDismiss)="createGroup($event)" header="Please enter group data" [buttons]="[{ text: 'Cancel', role: 'cancel'}, { text: 'OK', role: 'ok'}]" [inputs]="createGroupInputs"></ion-alert>
</ion-content>
