@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary: #1a1a1a;
$secondary: #333333;
$white: #ffffff;
$blue: #1e90ff;
$green: #328235;
$purple: #bc62ff;
$yellow: #ffab1e;
$lightgray: #827a76;

// Fonts

$fontBold: url('./../assets/fonts/DMSans-Bold.ttf');
$fontRegular: url('./../assets/fonts/DMSans-Regular.ttf');
$fontMedium: url('./../assets/fonts/DMSans-Medium.ttf');

// Sizes

$xSmall: 10px;
$small: 12px;
$medium: 16px;
$large: 20px;
$xLarge: 24px;
$xxLarge: 32px;
