<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input label="Enter your name" labelPlacement="floating" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Enter your surname" labelPlacement="floating" [(ngModel)]="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Enter your email" labelPlacement="floating" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Enter your password" labelPlacement="floating" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Confirm your password" labelPlacement="floating" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
      <ion-button size="full" (click)="register()">Register</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
