<ion-header>
  <ion-toolbar>
    <ion-title slot="start"></ion-title>
    <ion-button slot="end" color="dark" fill="none" (click)="showProfileDetails()">
      <div *ngIf="shouldDisplayImage" class="profileImg">
        <img src="{{userImageSrc}}" alt="">
      </div>
      <ion-icon *ngIf="!shouldDisplayImage" name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
<!--  <ion-button (click)="goToCalendar()">Calendar</ion-button>-->
<!--  <ion-button (click)="goToClubs()">Clubs</ion-button>-->
  <div class="container">
    <h2 class="welcome">Hi, {{userName}} 👋</h2>
    <div class="box">
      <p class="title">today's trainings</p>
      <div class="cards">
        <button class="card" style="background: #2dd36f">
          <h4 class="card-title">Title 1</h4>
          <p class="card-time">12:30-13:15</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
        <button class="card" style="background: #2da3f3">
          <h4 class="card-title">Title 2</h4>
          <p class="card-time">12:30-13:15</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
        <button class="card" style="background: mediumpurple">
          <h4 class="card-title">Title 3</h4>
          <p class="card-time">12:30-13:15</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
      </div>

      <p class="title">last payments</p>
      <div class="payments">
        <button class="payment">Payment 1</button>
        <button class="payment">Payment 2</button>
        <button class="payment">Payment 3</button>
      </div>
    </div>
  </div>
</ion-content>
