<ion-header>
  <ion-toolbar>
    <ion-title slot="start"></ion-title>
    <ion-button slot="end" color="dark" fill="none" (click)="showProfileDetails()">
      <div *ngIf="shouldDisplayImage" class="profileImg">
        <img src="{{userImageSrc}}" alt="">
      </div>
      <ion-icon *ngIf="!shouldDisplayImage" name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <h2 class="welcome">Hi, {{user$.getValue().name}} 👋</h2>
    <div class="box" *ngIf="lessons$.getValue().length > 0">
      <div class="header">
        <p class="title">today's trainings</p>
        <button class="view-all" (click)="goToCalendar()">view all</button>
      </div>
      <div class="cards">
        <button class="card" *ngFor="let lesson of (lessons$ | async)" style="background: #2dd36f">
          <h4 class="card-title">{{lesson.stats.title}}</h4>
          <p class="card-time">{{lesson.start + ' - ' + lesson.end}}</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
      </div>
      <!-- <ion-button (click)="goToCalendar()" style="color: #666666" size="full" fill="none" class="see-all">See all...</ion-button> -->
    </div>
    <div class="box" *ngIf="user$.getValue().type.toString() != 'COACH'">
      <div class="header">
        <p class="title">last payments</p>
        <button class="view-all" (click)="goToPayments()">view all</button>
      </div>
      <div class="payments">
        <button class="payment" style="background: #3dc2ff">Payment 1</button>
        <button class="payment" style="background: #ff835a">Payment 2</button>
        <button class="payment" style="background: #ffb553">Payment 3</button>
      </div>
      <!-- <ion-button (click)="goToPayments()" style="color: #666666" size="full" fill="none" class="see-all">See all...</ion-button> -->
    </div>
    <div class="box" *ngIf="user$.getValue().type.toString() == 'COACH'">
      <div class="header">
        <p class="title">payment statistics</p>
        <button class="view-all">view all</button>
      </div>
    </div>

    <div class="box">
      <p class="title">last announcements</p>
        <div class="announcements">
          <app-announcement class="announcements-first" [title]="'Tytuł ogłoszenia'" [createdAt]="'24/04/2005'" [desc]="'Dlugi opis ogłoszenia, zgłoszenia na lekcje prywatne z mistrzami swiata i okolicy, mowie serio'">
            <ion-card-header header>
              <ion-card-subtitle>
                <ion-icon style="margin-right: 10px; font-size: 20px" name="person-outline"></ion-icon>
                <span>Twórca ogłoszenia</span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-button style="color: #3dc2ff" fill="clear" size="full" footer (click)="showAnnouncementDetails()">See details...</ion-button>
          </app-announcement>
          <app-announcement [title]="'Tytuł ogłoszenia'" [createdAt]="'24/04/2005'" [desc]="'Dlugi opis ogłoszenia, zgłoszenia na lekcje prywatne z mistrzami swiata i okolicy, mowie serio'">
            <ion-card-header header>
              <ion-card-subtitle>
                <ion-icon style="margin-right: 10px; font-size: 20px" name="person-outline"></ion-icon>
                <span>Twórca ogłoszenia</span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-button style="color: #3dc2ff" fill="clear" size="full" footer (click)="showAnnouncementDetails()">See details...</ion-button>
          </app-announcement>
          <app-announcement [title]="'Tytuł ogłoszenia'" [createdAt]="'24/04/2005'" [desc]="'Dlugi opis ogłoszenia, zgłoszenia na lekcje prywatne z mistrzami swiata i okolicy, mowie serio'">
            <ion-card-header header>
              <ion-card-subtitle>
                <ion-icon style="margin-right: 10px; font-size: 20px" name="person-outline"></ion-icon>
                <span>Twórca ogłoszenia</span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-button style="color: #3dc2ff" fill="none" size="full" footer (click)="showAnnouncementDetails()">See details...</ion-button>
          </app-announcement>
        </div>
      </div>
    </div>
</ion-content>
