@import "../../../theme/variables.scss";

ion-content {
  --background: $primary;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
.club {
  width: 40%;
  aspect-ratio: 1;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}
